<h1>Stupid Coaching</h1>
<div class="question">
  <%= params[:question] %>
  <p><em>-You</em></p>
</div>
<div class="coach-answer">
  <p><%= @answer %></p>
  <p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
